@font-face {
    font-family: PT Sans;
    src: url('../fonts/PTSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: PT Sans;
    src: url('../fonts/PTSans-Bold.ttf');
    font-weight: 700;
}

* {
box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
    background-color: #F9F9F9;
}
.main {
    /* max-width: 450px; */
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motto img {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    display: block;
}
.motto h1 {
    font-size: 36px;
    line-height: 47px;
    font-weight: 700;
    padding: 0 80px;
    text-align: center;
    margin-bottom: 10px;
}

.motto p {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
}

.motto {
    margin-bottom: 50px;
}

.products h2 {
    display: none;
}

.products {
    width: 100%;
}
 .card {
    background-color: #ffff;
    width: 100%;
    padding: 20px 20px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px 0;
    margin-bottom: 30px;
    text-align: center;
 }

 .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 30px;
 }
 
 .product-name {
    font-size: 22px;
    line-height: 30px;
 }

 .card a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s linear;
 }

 .card a:hover {
    color: #ec6e38;
 }

 .product-number {
    font-size: 16px;
    line-height: 20px;
    color: #6666;
    margin-bottom: 10px;
 }

 .row {
    display: flex;
    justify-content: space-between;
 }

 .row span {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
 }

 .buttons {
    border-radius: 5px;
    background-color: #f2ede7;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    
 }

 .buttons span {
    font-weight: normal;
    font-size: 18px;
 }

 .buttons button {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
 }

 .buttons button:first-child {   
    border-radius: 5px 0 0 5px;
 }

 .basket {
   font-size: 20px;
   font-weight: 700;
   line-height: 20px;
   color: #ec6e38;
   background-color: #ffff;
   border-radius: 10px;
   border: 1px solid #ec6e38;
   margin: 20px 40px 0 40px;
   padding: 12px 15px 12px 15px;
   transition: all 0.5s linear;
   cursor: pointer;
 }

 .basket:hover {
   background-color: #ec6e38;
   color: #ffffff;
     border-radius: 10px;
 }


 .basket-block {
   background-color: #ffff;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px 0;
   width: 100%;
   height: 400px;
 }

 .offer {
   font-size: 20px;
   font-weight: 700;
   margin-left: 40px;
   margin-top: 20px;
 }

 .basket-nothing {
   font-size: 16px;
   line-height: 30px;
   background-color: #d7d7d7;
   width: 180px;
   height: 40px;
   margin-left: 40px;
   padding: 5px 0 0 20px;
   border-radius: 7px;
   font-weight: 400;
 }

 .delievery {
   font-weight: 700;
   margin-left: 40px;
   width: 189px;
   height: 26px;
   font-size: 20px;
 }

 .total {
   font-size: 20px;
   font-weight: 700;
   margin-left: 40px;
 }

 .total span {
   color: #ec6e38;
 }

 .get-order {
   font-size: 25px;
   font-weight: 700;
   margin-left: 40px;
 }

 .phone-number {
   width: 220px;
   height: 40px;
   font-size: 15px;
   margin-left: 40px;
   margin-top: 20px;
   padding: 8 12 8 50;
   font-weight: 700;
   background-color: #d7d7d7;
   border-radius: 7px;
   border: 1px solid #d7d7d7;
 }

 .get {
   color: #ffffff;
   background-color: #2fc035;
   border-radius: 6px;
   border: 1px solid #2fc035;
   width: 140px;
   height: 40px;
   font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px 0;
   margin-left: 40px;
   margin-top: 20px;
 }

.buttons button {
   background-color: #f2ede7;
   border-radius: 5px;
   transition: all 0.5s linear;
   cursor: pointer;
}

   .buttons button:hover{
     background-color: #ec6e38;
     border-radius: 5px;
   }

 @media (min-width: 431px) and (max-width: 768px){
   
   .main .products {
     flex-direction: row;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
   }

   .card {
      width: calc(50% - 10px);
      max-width: 300px;
      }

  .basket-block {
   max-width: 620px;
   margin: 0 auto;
   padding-top: 5px;
  }

  .motto h1 {
   font-size: 45px;
  }

  .motto img {
   width: 125px;
   height: 125px;
  }

  .motto p {
   font-size: 25px;
  }
 }

 @media (min-width: 769px) {
   .main {
      align-items: normal;
      max-width: 1200px;
      margin: 0 auto;
   }

   .all-content{
      flex-direction: row;
      display: flex;
      margin-bottom: 20px;
   }

   .main .products {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-sizing: border-box;
      gap: 20px;
      width: 66%;
    }
 
    .card {
       width: calc(50% - 20px);
       min-width: 250px;
    }

    .card img {
      width: 100%;
      height: 220px;
    } 
    .basket-block {
       width: 320px;   
       margin-left: 10px;
    }

 }